.contenedor_gen{
    width:100vw;
    height:100vh;
    background-color:blueviolet;
    display:flex;
    justify-content: center;
    flex-direction: column;
    aling-items: center;
    
}
.consola{
    width: 400px;
    height: 200px;
    background-color: chocolate;
    padding: 10px;
    color:aqua; 

}
.selecciones{
    width: 333px;
    height: 100px;
    background-color:white;

}
.eleccion{
    float:left;
    width: 88px;
    height: 88px;
    margin: 10px;
    background-color: red;
    animation: latir 2s; 
    -webkit-animation: latir 1s infinite;
}
.tijeres{
    background-image: url('src/assets/Images/MD_Centaur.jpg');
    background-size: cover;
}
.papelines{
    background-image: url('/assets/Images/Unnamed_-_2021-09-27T191340.911.webp');
    background-size: cover;
}
.piedres{
    background-image: url('/assets/Images/Peccatulum_Acediae_Idle_Sprite.jpg');
    background-size: cover;
}
.eleccion:hover{
    /* background-color: rgb(157, 238, 6); */
    cursor:pointer;
    animation: latir 2s; 
    -webkit-animation: latir 1s infinite;
}

@keyframes latir{
    0%{transform:scale(0.5);}
    1%{background-color: rgb(217, 255, 5);}
    5%{background-color: rebeccapurple;}
    9%{background-color: rgb(10, 35, 56);}
    10%{background-color: rgb(144, 127, 177);}
    18%{background-color: rgb(143, 74, 53);}
    20%{background-color: rgb(255, 132, 234);}
    23%{background-color: rgb(185, 235, 255);}
    24%{background-color: rgb(116, 5, 5);}
    30%{background-color: rgb(247, 251, 255);}
    40%{background-color: rgb(1, 255, 43);}
    44%{background-color: rgb(74, 115, 252);}
    50%{background-color: rgb(251, 255, 0);}
    60%{background-color: rgb(235, 180, 78);}
    70%{background-color:coral}
    81%{background-color: rgb(247, 0, 255);}
    93%{background-color: rgb(18, 44, 18);}
    100%{transform: translate(0px,0px);
    background-color:rgb(252, 0, 252);}
}
@media only screen and (max-width: 500px) {
    .consola{
        width: 333px;
    }
}
@media only screen and (max-width: 444px) {
    .consola{
        width: 3222px;
    }
}