<h1 class="gris">
<div *ngIf="valor==2" class="circulo-verde"></div>
<div *ngIf="valor==1" class="circulo-amarillo"></div>
<div *ngIf="valor==0" class="circulo-rojo"></div>
<div *ngIf="valor==3" class="circulo-azul"></div>
<div *ngIf="valor==4" class="circulo-rosa"></div>
<div *ngIf="valor==5" class="circulo-wheat"></div>
<div *ngIf="valor==6" class="circulo-aquamarine"></div>
<div *ngIf="valor==7" class="circulo-tomato"></div>
<div *ngIf="valor==8" class="circulo-sienna"></div>
<div *ngIf="valor==9" class="circulo-corn"></div>
<div *ngIf="valor==10" class="circulo-medium"></div>
<div *ngIf="valor==-1" class="circulo-lavender"></div>
<span class="Cuenta-atras">{{valor}}</span>
<button (click)="sumar()">Comienza!!!!  </button>
<button (click)="restar()">¡¡¡¡azneimoC</button>
</h1>

<ng-template #vacio>
    <div class="blanco"></div>
</ng-template>
